*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 8px;
}

#app {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#controls > * {
    display: block;
    margin: auto;
    text-align: center;
}

#confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}
